.prices {
    padding-bottom: 20px;
}

.prices {
    margin-top: 30px;
    margin-bottom: 30px;
}

.prices-cards {
    display: flex;
    justify-content: space-around;
}

.prices-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;
    justify-content: space-around;
    border: 2px solid yellowgreen;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 991px) {
    .prices-cards {
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
    }
}
