.case-study {
    margin-top: 30px;
}

.case-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.case-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.case-a,
.case-b {
    width: 400px;
    border: 2px solid #556B2F;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 0;
}

.case-b {
    padding-left: 5px;
}

@media (max-width: 767px) {
    .case-card {
        flex-direction: column;
    }

    .case-block {
        row-gap: 50px;
    }
}

@media (max-width: 450px) {
    .case-a, .case-b {
        width: unset;
        min-width: 300px;
    }
}



  

  

  
  