.my-classes-pics {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

.my-classes-pics img {
    width: 370px;
    height: 270px;
    border-radius: 10px;
}

.my-classes-btns {
    display: flex;
    column-gap: 10px;
    justify-content: space-around;
    margin-top: 40px;
}

.my-classes-btns-a {
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
}
